# Gradle project-specific cache directory
.gradle

# Gradle build output directory
build

# Eclipse output directory
bin

# Eclipse metadata
.project
.classpath
.settings

.DS_Store
/Results/
/utilities-log.log
